//font family
$ReplBold: 'Replica-Bold';
$ReplBoldItalic: 'Replica-BoldItalic';
$ReplItalic: 'Replica-Italic';
$ReplLight: 'Replica-Light';
$ReplLightItalic: 'Replica-LightItalic';
$ReplMono: 'Replica-Mono';
$ReplRegular: 'Replica-Regular';
$ReplicaProRegular: 'ReplicaPro-Regular';


$Acumin: 'acumin-pro', sans-serif;
$AcuminCondensed: 'acumin-pro-condensed', sans-serif;
$Acumin-extra-condensed: 'acumin-pro-extra-condensed', sans-serif;
$Acumin-semi-condensed: 'acumin-pro-semi-condensed', sans-serif;
$Acumin-wide: 'acumin-pro-wide', sans-serif;

// font size
$title-l: 45px;
$title-m: 38px;
$title-m1: 26px;
$title-s: 20px;

$text-l2: 20px;
$text-l: 18px;
$text-m: 16px;
$text-m1: 15px;
$text-r: 14px;
$text-s: 12px;

// font weight
$fw3: 300;
$fw4: 400;
$fw7: 700;
$fw8: 800;
$fw9: 900;

// colors
$blue1: #3B3A8F;
$blue3: #456CE5;

$white1: #FFFFFF;
$white2: #FCFEFF;

$dark0: #000000;
$dark1: #324A61;
$dark2: #252C3E;
$dark3: #1C1D48;

$grey1: #EAECF0;
$grey2: #6B8399;
$grey3: #C8D5DE;
$grey4: #CCD2D6;
$grey5: #1C1D48;
$grey6: #E7E7E7;

$yellow: #FFCE62;

$orange2: #F26A35;
$orange3: #EA673A;
$orange4: #FF9D9D;

$red1: #EC5D5D;
$red2: #CB3636;

$green1: #00B58F;
// borders

$input-border: 1px solid $grey3;
$checkbox-border: 1px solid $blue1;